<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
    }
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
      margin-top: 20px;
    }
    .contact-info {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Thank You!</h1>
  <p>We've received your information.</p>
  <p>Expect to receive a quotation soon on your provided contact details.</p>
  <p>In the meantime you can explore more of our services at <a href="https://imcoded.com">imcoded.com</a></p>
  <p class="contact-info">Email: support@imcoded.com<br>WhatsApp: +91 9968290156</p>
  
</body>
</html>
